.page-title{
    font-size:36px;
    margin-left: 40px;
    border-left:4px solid #ffa31a;
    padding: 20px;
}
.page-title-subtitle{
    font-size:18px;
    margin-left: 40px;
    color: #555;
    margin-top: 5px;
}