.service-card {
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding:10px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.service-card-title{
    margin:0;

}
.service-card-description{
    text-align: justify;
}
.services-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}